*~
~$*
$tf/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Aa][Rr][Mm]64[Ee][Cc]/
/app/generated/prisma
AppPackages/
*.appx
*.appxbundle
*.appxupload
*.aps
artifacts/
ASALocalRun/
AutoTest.Net/
.aws-sam
.axoCover/*
!.axoCover/settings.json
*.azurePubxml
Backup*/
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup.rdl
**/[Bb]in/*
[Bb]uild[Ll]og.*
BenchmarkDotNet.Artifacts/
*.bim.layout
*.bim_*.settings
*.binlog
bld/
bower_components
*.btm.cs
*.btp.cs
/build
*.build.csdef
build/Release
.builds
BundleArtifacts/
*.cab
.cache
.cache/
*.cachefile
!?*.[Cc]ache/
*.[Cc]ache
_Chutzpah*
ClientBin/
*.coverage
/coverage
coverage
coverage*.info
coverage*.json
*.coveragexml
coverage*.xml
**/.cr/personal
.*crunch*.local.xml
csx/
*.dbmdl
*.dbproj.schemaview
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
!Directory.Build.rsp
dist
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/html
DocProject/Help/Html2
DocProject/Help/*.HxC
DocProject/Help/*.HxT
.docusaurus
*.dotCover
*.DotSettings.user
*.dsp
.DS_Store
*.dsw
.dynamodb/
*.e2e
ecf/
[Ee]xpress/
*.env
.env
.env.*
!.env.example
.env*.local
.eslintcache
**/.fake/
FakesAssemblies/
.firebase/
FodyWeavers.xsd
.fusebox/
Generated_Code/
Generated\ Files/
*.GhostDoc.xml
*.gpState
.grunt
healthchecksdb
*_h.h
.history/
**/*.HTMLClient/GeneratedArtifacts
*_i.c
*.idb
*.ilk
*.iobj
**/.ionide/
ipch/
*.ipdb
*.jfm
*.jmconfig
jspm_packages/
*.lcov
*.ldf
lerna-debug.log*
lib-cov
[Ll]og/
[Ll]ogs/
**/.localhistory/
.lock-wscript
*.log
logs
*.mdf
*.meta
**/.mfractor/
MigrationBackup/
*.mm.*
mono_crash.*
MSBuild_Logs/
*.msi
*.msix
*.msm
*.msp
*.ncb
.NCrunch_*
_NCrunch_*
nCrunchTemp_*
*.ndf
.next
.next/
/.next/
next-env.d.ts
/node_modules
node_modules
node_modules/
.node_repl_history
.npm
npm-debug.log*
.ntvs_analysis.dat
*.nuget.props
*.nuget.targets
nunit-*.xml
*.nupkg
.nuxt
*.nvuser
.nyc_output
*.obj
*.odx.cs
[Oo]bj/
[Oo]ut/
OpenCover/
*.opendb
*.opensdf
*.opt
orleans.codegen.cs
/out/
out
Package.StoreAssociation.xml
paket-files/
**/.paket/paket.exe
.parcel-cache
*_p.c
*.pch
*.pdb
*.pem
*.pfx
*.pgc
*.pgd
*.pid
*.pidb
*.pid.lock
pids
_pkginfo.txt
*.plg
.pnp.*
/.pnp
.pnp.js
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.[Pp]ublish.xml
prisma/dev.db
prisma/dev.db-journal
project.fragment.lock.json
project.lock.json
*.psess
publish/
*.publishproj
PublishScripts/
*.publishsettings
*.pubxml
_Pvt_Extensions
*.pyc
**/__pycache__/
rcf/
*.rdl.data
*.received.*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
_ReSharper*/
*.rptproj.bak
*.rptproj.rsuser
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
*.[Rr]e[Ss]harper
*.rsp
*.rsuser
*.sap
.sass-cache/
*.sbr
ScaffoldingReadMe.txt
ScaffoldingReadMe.txt# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
*.scc
*.sdf
*.seed
**/*.Server/GeneratedArtifacts
.serverless/
**/*.Server/ModelManifest.xml
ServiceFabricBackup/
*.sln.docstates
*.snupkg
StyleCopReport.xml
.stylelintcache
*.suo
*.svclog
.svelte-kit/
_TeamCity*
.temp
.tern-port
TestResult.xml
*.tgz
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.trx
*.tsbuildinfo
*.tss
[Tt]est[Rr]esult*/
UpgradeLog*.htm
UpgradeLog*.XML
_UpgradeReport_Files/
*.user
*.userosscache
*.userprefs
*.vbw
*.VC.db
*.VC.VC.opendb
.vercel
*.VisualState.xml
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
**/.vitepress/cache
**/.vitepress/dist
.vs/
.vscode/
.vscode/*
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.vscode-test
.vshistory/
*.vsix
*.vsp
*.vspscc
*.vspx
*.vssscc
.vuepress/dist
web_modules/
*_wpftmp.csproj
[Ww][Ii][Nn]32/
x64/
x86/
*.xsd.cs
.yarn/*
yarn-debug.log*
yarn-error.log*
.yarn-integrity
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
